app-card {
  flex: 0 0 300px;
  max-width: 300px;
  box-sizing: border-box;
}

.container-card {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 2%;
}

.container-search-field {
  justify-content: center;
  margin-top: 4%;
}
